@import url("screen.css");
@import url("non-screen.css") handheld;
@import url("non-screen.css") only screen and (max-device-width:640px);

.atom {
  line-height: 1em;
  font-size: 800%;
  opacity: 0.2;
  -moz-opacity: 0.2;
    filter:alpha(opacity=20);
}